@font-face {
    font-family: 'Van';
    src: url('VanDoesburgArchiType\ Regular.ttf');
}

body {
    background-image: url('imagens1/Desmatamento-mineracao-ouro.gif');
    /* Substitua 'fundo_destinos.jpg' pelo nome da sua imagem de fundo */
    background-size: cover;
    /* A imagem de fundo cobrirá todo o tamanho do corpo da página */
    background-attachment: fixed;
    /* A imagem de fundo permanecerá fixa quando a página rolar */
    background-repeat: no-repeat;
    /* Evita que a imagem de fundo seja repetida */
    background-position: center;
    /* Centraliza a imagem de fundo na tela */
    color: #ffffff; /* Cor do texto */
}

/* Estilos para o navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.4) !important;
    /* Define o fundo do navbar como preto */
    transition: background-color 0.3s ease-in-out;
    /* Transição suave para a cor de fundo */
}

/* Estilize o texto "Oráculo o Guardião" */
.navbar-brand {
    color: #00a6e3;
    /* Cor do texto "ORÁCULO" */
    font-size: 36px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Texto em negrito */
    /*text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 10px;
    /* Espaçamento entre caracteres */
    text-shadow: 2px 2px 4px rgb(0, 255, 34);
    /* Sombra de texto */
    font-family: 'Van', Arial, Helvetica, sans-serif;
}


.navbar:hover {
    background-color: rgba(121, 39, 146, 0.3) !important;
    /* Cor de fundo ao passar o mouse */
}

.navbar-toggler-icon {
    background-color: #fff;
    /* Define a cor do ícone do botão de alternância como branco */
}

.navbar-nav .nav-link {
    color: #fff !important;
    /* Cor do texto dos links */
    /*font-weight: 5000; /* Texto com peso da fonte */
    transition: color 0.5s;
    /* Efeito de transição de cor do texto */
    font-family: 'Van', Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #4caf50 !important;
    /* Cor do texto ao passar o mouse */
}

/* Estilize o menu dropdown com fundo transparente */
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
    /* Cor branca com transparência (ajuste o valor de 0.7 para a transparência desejada) */
}

/* Defina a cor do texto dos itens do menu */
.dropdown-item {
    color: #000;
    /* Cor do texto (preto, você pode alterar para a cor desejada) */
    font-family: 'Van', Arial, Helvetica, sans-serif;
}

/* Estilize o link do menu dropdown */
.dropdown-item a {
    text-decoration: none;
    /* Remova o sublinhado dos links */
}

/* Estilize o link do menu dropdown quando o mouse passa sobre ele */
.dropdown-item a:hover {
    background-color: #4caf50;
    /* Cor de fundo quando o mouse passa sobre o link (verde, você pode alterar para a cor desejada) */
    color: #fff;
    /* Cor do texto quando o mouse passa sobre o link (branco, você pode alterar para a cor desejada) */
}


/* Formulário de busca Futurista */
.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    /* Fundo do campo de pesquisa com transparência */
    border-color: #4caf50;
    /* Cor da borda do campo de pesquisa */
    color: #ff0000 !important;
    /* Cor do texto do campo de pesquisa */
    font-family: 'Van', Arial, Helvetica, sans-serif;
}

/* Estilize o texto do placeholder */
.form-control::placeholder {
    color: rgb(255, 0, 0, 0.7);
    /* Cor do texto do placeholder (substitua com a cor desejada) */
    font-family: 'Van', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgb(98, 0, 255);
    /* Sombra de texto */
}

.btn-outline-success {
    color: white;
    /* Define a cor do texto do botão de pesquisa como branco */
    border-color: #4caf50;
    /* Define a cor da borda do botão de pesquisa como verde */
    /*font-weight: bold; /* Texto em negrito */
    transition: background-color 0.5s;
    /* Efeito de transição de cor de fundo */
    font-family: 'Van', Arial, Helvetica, sans-serif;
}

.btn-outline-success:hover {
    background-color: #4caf50;
    /* Define a cor de fundo do botão de pesquisa ao passar o mouse como verde */
    color: white;
    /* Define a cor do texto do botão de pesquisa ao passar o mouse como branco */
}

/* Estilo do Carousel Futurista */
.carousel {
    background-color: transparent !important;
    /* Fundo do carousel transparente */
}

.carousel-inner {
    overflow: hidden;
    /* Oculta o conteúdo fora do carousel */
}

.carousel-item.active {
    background-color: rgba(0, 0, 0, 0.8);
    /* Cor de fundo do slide ativo */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo semi-transparente para o texto do carousel */
    border-radius: 10px;
    /* Borda arredondada para a caixa de texto */
    padding: 20px;
    /* Preenchimento interno */
    text-align: center;
    /* Alinhamento central do texto */
    position: fixed;
    /* Posição absoluta para ajustar a posição vertical */
}

.carousel-caption h2 {
    color: #00a6e3;
    /* Cor do texto do título do carousel */
    font-family: 'Van', Arial, Helvetica, sans-serif;
    font-size: 40px;
    /* Tamanho grande da fonte */
    font-weight: bold;
    /* Texto em negrito */

}

.carousel-caption p {
    color: #fff;
    /* Cor do texto da descrição do carousel */
    font-size: 26px;
    text-align: center;
    font-family: 'Van', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 255, 34);
    /* Sombra de texto */
}

.main-btn {
    background-color: #00a6e3;
    /* Cor de fundo brilhante */
    color: #fff;
    /* Cor do texto branco */
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado) */
    padding: 10px 20px;
    /* Preenchimento interno */
    border-radius: 5px;
    /* Borda arredondada */
    font-weight: bold;
    /* Texto em negrito */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Transições suaves */
}

.main-btn:hover {
    background-color: #fff;
    /* Cor de fundo ao passar o mouse */
    color: #570c61;
    /* Cor do texto ao passar o mouse */
}


